{% extends "blog/base.html" %}

<!-- Title Content -->
{% block title %} Django Blog {% endblock %}
<!-- Subtitle Content -->
{% block subtitle %} A Blog Using Django and Bootstrap {% endblock %}
<!-- Main Content -->
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">

        {% for post in posts %}
        <div class="post-preview">
            <a href="{% url 'post-detail' post.id %}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ post.content }}
              </h3>
            </a>
            <p class="post-meta">By
              <a href="#">{{ post.author }}</a>
              on {{ post.date_posted|date:"F j Y" }}</p>
          </div>
          <hr>          
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endblock content %}